html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-align: center;

}

.main-header {
    height: 50px;
}

.picture-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.thumbnail-item {
   width: 33%;
    /* max-width: 30%; */
    height: 150px;
    /* max-height: 150px; */
    padding-bottom: 5px;
}

.thumbnail-item > img {
/* choose either height or width not both */
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    /* margin: 20px; */
    /* height: 100%; */
}

.pictureFrame {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.pictureFrame > img {
    max-width: 100%;
    max-height: 100%;
}

.thumbnail-item  img:hover {
    outline: 3px solid crimson;
    opacity: 0.5;
}