html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    text-align: center;

}


.nav-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 26px;
    height: 80px;
    border-bottom: 1px solid darkgrey;
}

.nav-header .ig-logo {
    width: 30px;
}

.nav-header div img {
    width: 100px;
}

.search-area form input {
    padding: 6px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    text-align: center;
}

.log-in-butt {
    border: 0;
    background-color: rgb(116, 143, 255);
    color: white;
    border-radius: 5px;
    margin-right: 20px;
    line-height: 1.8;
}

.sign-in {
    text-decoration: none;
    color: rgb(166, 170, 255);

}


.sub-section-header {
    /* height: 77px; */
    /* outline: 1px dashed darkblue; */
    display: flex;
    align-items: center;
    margin: 16px 30px 16px 24px;
}

.sub-section-header img {
    border-radius: 50%;
    width: 80px;
    margin-right: 20px;
}

.sub-section-header section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.callout-text {
    height: 100px;
    display: flex;
    flex-direction: column;
    padding: 0 16px 21px 16px;
}

.callout-text #lego{
    font-size: 1em;
    margin: 0;
}

.timeline-story ul {
    list-style: none;
    display: flex;
}

.timeline-story div {
    margin-right: 9px;
}
ul li img {
    border: 1px inset white;
    border-radius: 50%;
    width: 70px;
}
ul li div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul li div div {
    padding-top: 3px;
}

.social-media-stats{
    height: 61px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-media-stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
}




.picture-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.thumbnail-item {
   width: 31%;
    /* max-width: 30%; */
    /* height: 300px; */
    /* max-height: 150px; */
    padding-bottom: 5px;
}

.thumbnail-item > img {
    /* choose either height or width not both */
    max-width: 100%;
    text-align: center;
    /* border: 2px solid white; */
    /* max-height: 100%; */
    /* margin: 20px; */
    /* height: 100%; */
}

.pictureFrame {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.pictureFrame > img {
    max-width: 100%;
    max-height: 100%;
}


/* on hover effect for thumbnails*/
.thumbnail-item  img:hover {
    /* outline: 3px solid crimson; */
    opacity: 0.5;
}






@media screen and (min-width: 750px) {
    .sub-section-header div #avatar-image {
        width: 170px;
    }
    .mid-sized-grouping {
        display: flex;
        align-items: center;
    }
    
}